ATLAS_CONNECTION_STRING=
SALT = 
PORT=
JWT_SECRET= 
JWT_EXP='48h'
CLOUD_NAME=
API_KEY=
API_SECRET=

AWS_Access_Key_Id=
AWS_Secret_Key=

SENDGRID_API_KEY=
BUCKET_NAME=


FLW_SECRET_KEY=
FLW_PUBLIC_KEY=